<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24V</title>
    <link rel="stylesheet" type="text/css" href="css/book.css">
    <link rel="stylesheet" type="text/css" href="css/bookcss/book.css">
    <link rel="stylesheet" type="text/css" href="css/bookcss/card.css">
    <link rel="stylesheet" type="text/css" href="css/bookcss/calendar.css">
    <style>
        body{
            margin : 0;
            font-family: NanumGothic;
            background-color: #fdfcf1;
            color : #666666;
            background-repeat: repeat-x;
            font-weight: bold;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/bookjs/asdf.js"></script>
    
</head>
<body>
    <div id="head">
        <div id="login">
            <ul>
            <% if (!isAuthenticated) { %>
                <li><a href="/user/login">로그인 </a><a href="/user/join">회원가입</a></li>
            <% }  else { %>
                <li><a href="/user/logout">로그아웃 </a><a href="/user/mypage">마이페이지</a></li>
                <% if (id) { %>
                    <!-- <%= id %> 번째로 가입한 유저님 환영합니다.-->
                <% } %>
            <% } %>
            </ul>
        </div>
        <div id="header">
            <div id="nav">
                <a href="/"><div id ="logo"></div></a><!-- 로고 누르면 홈페이지로 이동-->
                <ul>
                    <li><a href="/book">예매</a></li>
                    <li><a href="/cinema">영화관</a></li>
                    <li><a href="/movie">영화</a></li>
                    <li><a href="/market">매점</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id ="main"> 
    
        <div class = "all">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                1. 영화선택</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <% var i = 0;
                            console.log(resData)
                            resData.movie.forEach(function(item){
                                i = i + 1;
                                var release = item.releaseday.split('T')[0]; %>

                                <div class = "detA" id = "movie<%=i%>">
                                    <img src="<%=item.img%>" alt="<%=item.title%>" style="width:188px; height:268px;">
                                    <div>
                                        <strong class="tit_movie"><%= item.title %></strong><br>
                                        <span class="txt_minfo"><%=release %>개봉 <br> <%= item.agelimit %></span>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                2. 상영관선택</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>전화번호</th>
                                        <th>위치</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            3. 스케쥴선택</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body container" style="margin-left:0; padding-left:0;" >
                            <div class="calcontainer">
                                <div class="calendar">
                                    <header>				
                                        <h2 class="cah2">December</h2>
                                        <a class="btn-prev fontawesome-angle-left cala" href="#"></a>
                                        <a class="btn-next fontawesome-angle-right cala" href="#"></a>
                                    </header> 
                                    <table class="caltable">
                                        <thead> 
                                            <tr> 
                                                <td>Mo</td>
                                                <td>Tu</td>
                                                <td>We</td>
                                                <td>Th</td>
                                                <td>Fr</td>
                                                <td>Sa</td>
                                                <td>Su</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="prev-month">25</td>
                                                <td class="prev-month">26</td>
                                                <td class="prev-month">27</td>
                                                <td class="prev-month">28</td>
                                                <td class="prev-month">29</td>
                                                <td class="prev-month">30</td>
                                                <td class="current-day event">1</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>5</td>
                                                <td>6</td>
                                                <td>7</td>
                                                <td>8</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>10</td>
                                                <td>11</td>
                                                <td>12</td>
                                                <td>13</td>
                                                <td>14</td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>17</td>
                                                <td>18</td>
                                                <td>19</td>
                                                <td>20</td>
                                                <td>21</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td>26</td>
                                                <td>27</td>
                                                <td>28</td>
                                                <td>29</td>
                                            </tr>
                                            <tr>
                                                <td>30</td>
                                                <td class="next-month">1</td>
                                                <td class="next-month">2</td>
                                                <td class="next-month">3</td>
                                                <td class="next-month">4</td>
                                                <td class="next-month">5</td>
                                                <td class="next-month">6</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- end calendar -->
                            </div> <!-- end container -->
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">4. 시간선택</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body bd4">
                            <!--<p>선택하신 영화는 겨울왕국 2이고, 선택하신 상영관은 24V 이천입니다. 11월 26일 영화상영시간표는 아래와 같습니다. <br>
                            선택 영화만 보여주게 할건데, 일단 틀 복사해서 많이 만들어놓았음. ( 영화보다 상영관을 먼저 선택하는 경우도 고려할 것 by 해석이형 )</p> -->
                            <div>
                                <dl>
                                    <dt class="mar1">
                                        <span class="grade_all">
                                        겨울왕국 2</span>
                                        <a href="javascript:void(0)" class="btn_detail" title="새창 열림">
                                        </a>      
                                    </dt>
                                    <dd>
                                        <ul id = "time_table">
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>   
                                        </ul>
                                    </dd>
                                    
                                    <div>
                                        <br><br><br><br><br>
                                    </div>
                                    <dt class="mar1" style = "clear:both;">
                                        <span class="grade_all">
                                        겨울왕국 3</span>
                                        <a href="javascript:void(0)" class="btn_detail" title="새창 열림">
                                        </a>      
                                    </dt>
                                    <dd>
                                        <ul id = "time_table">
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>   
                                        </ul>
                                    </dd>
                                    <div>
                                        <br><br><br><br><br>
                                    </div>
                                    <dt class="mar1" style = "clear:both;">
                                        <span class="grade_all">
                                        겨울왕국 4</span>
                                        <a href="javascript:void(0)" class="btn_detail" title="새창 열림">
                                        </a>      
                                    </dt>
                                    <dd>
                                        <ul id = "time_table">
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="time_active">
                                                <span class="ttb">
                                                    <em>10관</em>
                                                </span>
                                                <span class="clock">16:50<span> ~ 18:43</span></span>
                                                <span class="ppNum"><em class="color_brown" title="좌석할인">210</em>석 / 224석</span>
                                                </a>
                                            </li>   
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            5. 인원선택</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body container" style="margin-left:0; padding-left:0;" >
                            <div class="reservation_cont">
                                <strong class="tit_strapline">인원 선택</strong>
                                <div class="people_seat">
                                    <dl class="list_getseat">
                                        <dt>
                                            <label for="getSeat1" class="getseatlabel">
                                                성인</label>
                                        </dt>
                                        <dd>
                                            <div class="item_cate">
                                                <select id="selAdu" class="opt_cate" onchange="getSeat('adu');"><option value="0">인원선택</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
                                            </div>
                                        </dd>
                                    </dl>        
                                    
                                    <dl class="list_getseat">
                                        <dt>
                                            <label for="getSeat1" class="getseatlabel">
                                                청소년</label>
                                        </dt>
                                        <dd>
                                            <div class="item_cate">
                                                <select id="selAdu" class="opt_cate" onchange="getSeat('adu');"><option value="0">인원선택</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
                                            </div>
                                        </dd>
                                    </dl> 
                                    
                                </div>
                                <p class="txt_caution">
                                    최대 4명까지 선택가능하며, 극장에 따라 선택가능한 인원수가 변동될 수 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                6. 좌석선택</a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body container" style="margin-left:0; padding-left:0;" >
                                <div class="plane">
                                    <div class="exit exit--front fuselage">
                                        
                                    </div>
                                    <ol class="cabin fuselage">
                                        <li class="row row--1">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="1A" />
                                            <label for="1A">1A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="1B" />
                                            <label for="1B">1B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="1C" />
                                            <label for="1C">1C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" disabled id="1D" />
                                            <label for="1D">Occupied</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="1E" />
                                            <label for="1E">1E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="1F" />
                                            <label for="1F">1F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--2">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="2A" />
                                            <label for="2A">2A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="2B" />
                                            <label for="2B">2B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="2C" />
                                            <label for="2C">2C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="2D" />
                                            <label for="2D">2D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="2E" />
                                            <label for="2E">2E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="2F" />
                                            <label for="2F">2F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--3">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="3A" />
                                            <label for="3A">3A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="3B" />
                                            <label for="3B">3B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="3C" />
                                            <label for="3C">3C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="3D" />
                                            <label for="3D">3D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="3E" />
                                            <label for="3E">3E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="3F" />
                                            <label for="3F">3F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--4">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="4A" />
                                            <label for="4A">4A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="4B" />
                                            <label for="4B">4B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="4C" />
                                            <label for="4C">4C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="4D" />
                                            <label for="4D">4D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="4E" />
                                            <label for="4E">4E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="4F" />
                                            <label for="4F">4F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--5">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="5A" />
                                            <label for="5A">5A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="5B" />
                                            <label for="5B">5B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="5C" />
                                            <label for="5C">5C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="5D" />
                                            <label for="5D">5D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="5E" />
                                            <label for="5E">5E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="5F" />
                                            <label for="5F">5F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--6">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="6A" />
                                            <label for="6A">6A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="6B" />
                                            <label for="6B">6B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="6C" />
                                            <label for="6C">6C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="6D" />
                                            <label for="6D">6D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="6E" />
                                            <label for="6E">6E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="6F" />
                                            <label for="6F">6F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--7">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="7A" />
                                            <label for="7A">7A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="7B" />
                                            <label for="7B">7B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="7C" />
                                            <label for="7C">7C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="7D" />
                                            <label for="7D">7D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="7E" />
                                            <label for="7E">7E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="7F" />
                                            <label for="7F">7F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--8">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="8A" />
                                            <label for="8A">8A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="8B" />
                                            <label for="8B">8B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="8C" />
                                            <label for="8C">8C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="8D" />
                                            <label for="8D">8D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="8E" />
                                            <label for="8E">8E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="8F" />
                                            <label for="8F">8F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--9">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="9A" />
                                            <label for="9A">9A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="9B" />
                                            <label for="9B">9B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="9C" />
                                            <label for="9C">9C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="9D" />
                                            <label for="9D">9D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="9E" />
                                            <label for="9E">9E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="9F" />
                                            <label for="9F">9F</label>
                                            </li>
                                        </ol>
                                        </li>
                                        <li class="row row--10">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                            <input type="checkbox" id="10A" />
                                            <label for="10A">10A</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="10B" />
                                            <label for="10B">10B</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="10C" />
                                            <label for="10C">10C</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="10D" />
                                            <label for="10D">10D</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="10E" />
                                            <label for="10E">10E</label>
                                            </li>
                                            <li class="seat">
                                            <input type="checkbox" id="10F" />
                                            <label for="10F">10F</label>
                                            </li>
                                        </ol>
                                        </li>
                                    </ol>
                                    <div class="exit exit--back fuselage">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                7. 결제</a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body container" style="margin-left:0; padding-left:0;" >
                                <div class="cardWrap" style="display: block;">
                                    <div class="card cardLeft">
                                        <h4 class="mapa0">24V <span>Cinema</span></h4>
                                        <div class="title">
                                            <h2>겨울왕국 2</h2>
                                            <span>movie</span>
                                        </div>
                                        <div class="name">
                                            <h2>박재용</h2>
                                            <span>name</span>
                                        </div>
                                        <div class="seat1">
                                            <h2>B08</h2>
                                            <span>seat</span>
                                        </div>
                                        <div class="time">
                                            <h2>13:40~<span class="small">15:20</span></h2>
                                            <span>time</span>
                                        </div>
                                    </div>
                                    <div class="card cardRight">
                                        <div class="eye"></div>
                                        <div class="number">
                                            <h3>B08</h3>
                                            <span>seat</span>
                                        </div>
                                        <div class="barcode"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "end">
        <div id="footer">
            <p>
                <span>(15588) 경기도 안산시 상록구 한양대학로 55</span><br/>
                <span>대표이사 : 김종훈 사업자등록번호 : 104-47-78424 통신판매업신고번호 : 2017-24V-0662 </span><br/>
                <span>개인정보보호 책임자 : 이해석 대표이메일 : iproj2@hanyang.ac.kr 24V고객센터 : 7247-2530 © HY 24V. All Rights Reserved</span>
            </p>
        </div>
        <div id="brick">
        </div>
    </div>
</body>
</html>