<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24V</title>
    <link rel="stylesheet" type="text/css" href="css/bookcss/book.css">
    <link rel="stylesheet" type="text/css" href="css/bookcss/card.css">
    <link rel="stylesheet" type="text/css" href="css/bookcss/calendar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        body{
            margin : 0;
            font-family: NanumGothic;
            background-color: #fdfcf1;
            color : #666666;
            background-repeat: repeat-x;
            font-weight: bold !important;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/book.js"></script>
</head>
<body>
    <div id="head">
        <div id="login">
            <ul>
            <% if (!isAuthenticated) { %>
                <li><a href="/user/login">로그인 </a><a href="/user/join">회원가입</a></li>
            <% }  else { %>
                <li><a href="/user/logout">로그아웃 </a><a href="/user/mypage">마이페이지</a></li>
            <% } %>
            </ul>
        </div>
        <div id="header">
            <div id="nav">
                <a href="/"><div id ="logo"></div></a><!-- 로고 누르면 홈페이지로 이동-->
                <ul>
                    <li><a href="/book">예매</a></li>
                    <li><a href="/movie">영화</a></li>
                    <li><a href="/market">매점</a></li>
                    <li><a href="/event">이벤트</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id ="main"> 
        <div class = "all">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                1. 영화선택</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-bodyzz">
                            <% resData.movie.forEach(function(item, index){
                                var release = item.releaseday.split('T')[0]; %>
                                <div class = "detA" id = "movie<%= index %>">
                                    <img src="<%= item.img %>" class="movie_img" alt="<%= item.title %>" movie_id= "<%= item.id %>"style="width:188px; height:268px;">
                                    <div>
                                        <strong class="tit_movie"><%= item.title %></strong><br>
                                        <span class="txt_minfo"><%= release %> 개봉 <br> <%= item.agelimit %></span>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                2. 상영관선택</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>위치</th>
                                        <th>상영관 번호</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3. 시간선택</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body bd4">
                            <div>
                                <dl>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            4. 인원선택</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body container" style="margin-left:0; padding-left:0;" >
                            <div class="reservation_cont">
                                <strong class="tit_strapline">인원 선택</strong>
                                <div class="people_seat">
                                    <dl class="list_getseat">
                                        <dt>
                                            <label for="getSeat1" class="getseatlabel">
                                                일반</label>
                                        </dt>
                                        <dd>
                                            <div class="item_cate">
                                                <select id="selAdu" class="opt_cate">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </dd>
                                    </dl>        
                                    <div class="item_cate" id="selTeen">
                                        <button type="button">좌석 선택으로 이동합니다.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                5. 좌석선택</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            
                            <div class="panel-body container" style="margin-left:0; padding-left:0;" >
                                <select id='persons'>
                                    <option value='1' selected>1명</option>
                                    <option value='2'>2명</option>
                                    <option value='3'>3명</option>
                                    <option value='4'>4명</option>
                                </select>
                                <div class="plane">
                                    <!-- <div class="exit exit--front fuselage">
                                    </div> -->
                                    <ol class="cabin fuselage">
                                        
                                    </ol>
                                </div>
                            </div>

                            <form style="display: hidden" action="/ticket/booking/result" method="GET" id="result_form">
                                <input type="hidden" name="in_timetable_id" id="in_timetable_id"/>
                                <input type="hidden" name="in_number_of_seats" id="in_number_of_seats"/>
                                <input type="hidden" name="in_selected_seats_arr" id="in_selected_seats_arr"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "end">
        <div id="footer">
            <p>
                <span>(15588) 경기도 안산시 상록구 한양대학로 55</span><br/>
                <span>대표이사 : 김종훈 사업자등록번호 : 104-47-78424 통신판매업신고번호 : 2017-24V-0662 </span><br/>
                <span>개인정보보호 책임자 : 이해석 대표이메일 : iproj2@hanyang.ac.kr 24V고객센터 : 7247-2530 © HY 24V. All Rights Reserved</span>
            </p>
        </div>
        <div id="brick">
        </div>
    </div>
</body>
</html>