<div class="slideshow-container">
    <%  
        var movieData = resData.data;
        var n = movieData.length;
        var prev = movieData[0];
        var next = movieData[n-1];
        for(var i=0;i<n;i++){
            var here = movieData[i];
            if(i==0) prev = movieData[n-1];
            else prev = movieData[i-1];
            if(i==n-1) next = movieData[0];
            else next = movieData[i+1];
            %>
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="<%=prev.img%>" alt="<%=prev.title%>" style="width:237px; height:340px; border-radius:25px;">
                <div class="text"></div>
                
                <div class="numbertext"></div>
                <a href="/movie/<%=here.id%>">
                <img src="<%=here.img%>" alt="<%=here.title%>" style="width:475px; height:680px; border-radius: 25px;">
                </a>
                <div class="text">"<%=here.title%>"</div>
                
                <div class="numbertext"></div>
                <img src="<%=next.img%>" alt="<%=next.title%>" style="width:237px; height:340px; border-radius: 25px;">
                <div class="text"></div>
            </div>
         <% 
        } %>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
</div>
    <br>
<div style="text-align:center">
    <%for(var i=1;i<=n;++i){ %>
        <span class="dot" onclick="currentSlide(<%=i%>)"></span>
    <% 
    }%> 
</div>

    