<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <% var menus = resData.menu; 
       var cinemas = resData.cinema%>
    <link href="/css/market.css" rel="stylesheet"/>
    
</head>
<body>
    
    <% include ./nav.ejs%>
    <div id="title">
        <h2>매점</h2>
    </div>
    <hr/>
    <div id="main">
        <div id="market-menulist">
            <%  
                var i =0;
                menus.forEach(function(item){ %>
                <article>
                    <div>
                        <label for="img<%=i%>" ><img src="<%=item.img%>" alt="<%=item.name%>" class="chk<%=i%>"></label>
                        <input type="checkbox" class="chk" id="img<%=i%>" name="img" value ="<%=item.name%>" style="visibility: hidden;"/>
                    </div>
                    <p><%= item.name %></br> <!--메뉴-->
                        ₩<%= item.price %>  <!--가격-->
                    </p>
                </article>
            <% i=i+1 }) %>
        </div>
        <div id="list">
            <h3>장바구니</h3>
            <div id="menuname"></div>
            <div id="count"></div>
            <div id ="cinemas" style="width : 380px; float : left; text-align:left;">
            <%  
                var i =0;
                cinemas.forEach(function(cinema){ %>
                    <input class="cinema" type="radio" name="cinema" value="<%=cinema.cinema%>" onclick="cinemaChecked()"/><%=cinema.cinema%></label> 
                <% i=i+1 }) %>
            </div>
            <form >
        <div id="payment-page">
            <div id="payment-form-overall">
                <div>
                    <select name="credit-kind">
                        <option value="sinhan">신한카드</option>
                        <option value="hyundai">현대카드</option>
                        <option value="samsung">삼성카드</option>
                        <option value="kb">KB국민카드</option>
                        <option value="lotte">롯데카드</option>
                        <option value="hana">하나카드</option>
                        <option value="woori">우리카드</option>
                        <option value="city">씨티카드</option>
                        <option value="nh">NH농협카드</option>
                        <option value="ibk">IBK기업카드</option>
                        <option value="bc">비씨카드</option>
                    </select>
                </div>
                
                <div class="payment-form">
                    <span> 카드번호 </span>
                        <input type="text" name="credit-number-1" pattern="\d{4}" maxlength="4" size="4"> -
                        <input type="text" name="credit-number-2" pattern="\d{4}" maxlength="4" size="4"> -
                        <input type="password" name="credit-number-3" pattern="\d{4}" maxlength="4" size="4"> -
                        <input type="password" name="credit-number-4" pattern="\d{4}" maxlength="4" size="4">
                </div>
                
                <div class="payment-form">
                    <span> 유효기간 </span>
                        <input type="text" name="credit-valid-year" pattern="\d{2}" maxlength="2" size="2" placeholder="YY"> /
                        <input type="text" name="credit-valid-month" pattern="\d{2}" maxlength="2" size="2" placeholder="MM">
                </div>
                <div class="payment-form">
                    <span> CVC번호(뒤에 3자리)</span>
                        <input type="password" name="credit-cvc" pattern="\d{3}" maxlength="3" size="3">
                </div>
                <div class="payment-form">
                    <span> 비밀번호(앞에 2자리)</span>    
                        <input id="password_two" type="password" name="credit-password" pattern="\d{2}" maxlength="2" size="2">
                </div>
            </div> <!-- payment-form -->
        </div> <!-- payment-page -->
    </form>
            <div id="purchase"><button>구매하기</button></div>
        </div>

        <div id="receipt"><h3>영수증</h3></div>
        
    </div>
    <script src="/js/market.js" type="text/javascript"></script>
    <% include ./footer.ejs %>
</body>
</html>

