<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <link href="/css/movieInfo.css" rel="stylesheet" />
</head>
<body>
    <% include ./nav.ejs%>
    <% var info = resData.data[0] 
       var release = info.releaseday.split('T')[0]%>
    <div id="title">
        <h2><%=info.title%></h2>
    </div>
    <hr/>
    <div id ="main">
        <article>
            <div>
                <img src="<%=info.img%>" alt="<%=info.title%>" >
            </div>
        </article>
        <article>
            <h2><%=info.title%></h2> <!--영화이름-->
            <p>
                <span><%=info.title%>, 2019</span><br/>
                <span>개요 : <%=info.genre%> </span><br/>
                <span>러닝타임 : <%=info.runtime%></span><br/>
                <span>개봉일 : <%=release%></span><br/>
                <span>감독 : <%=info.director%></span><br/>
                <span>등급 : <%=info.agelimit%></span><br/>
            </p> 
        </article>
        <article id = "story">
            <h3>줄거리</h3>
            <pre> <%=info.story%></pre>
        </article>
    </div>
    
    <% include ./footer.ejs %>
</body>
</html>
