<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <link href="/css/movie.css" rel="stylesheet" />
</head>
<body>
    <% include ./nav.ejs%>

    <div id="title">
        <h2>상영중인 영화</h2>
    </div>
    <hr/>
    <div id ="main"> 
        
        <% resData.data.forEach(function(item){ 
            var release = item.releaseday.split('T')[0]; %>
        <article>
            <div>
                <a href="/movie/<%=item.id%>">
                    <img src="<%=item.img%>" alt="<%=item.title%>" style="width:228px; height:327px;">
                </a>
            </div>
            <p><%= item.title %></br> <!--영화이름-->

                <%=release%> 개봉 <!--개봉일-->
            </p>
        </article>
        <% }) %>
    </div>
    <% include ./footer.ejs %>
</body>
</html>

